#description {
    color: white;
}


.details-img {
    margin-top: 50px;
    width: 90%;
}

#edit-delete-container {
    position: absolute;
    top: 70px;
    right: 100px;
}

#edit {
    width: 150px;
    border: none;
}

#delete {
    width: 150px;
    border: none;
}
