#edit-form {
    height: 400px;
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: .25rem;
    height: 340px;
    width: 350px;
    background-color: white;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%)
}

#edit-header {
    margin-bottom: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande';
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    width: 90%;
    text-align: center;
    padding-bottom: 10px;
}

label {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande';
}
