#footer-ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    height: 50px;
}

.footer-right {
    display: flex;
    justify-content: space-evenly;
    width: 250px;
    border-left: 1px solid white;
    padding-left: 60px;
}

.git-link {
    height: 20px;
}
