body {
    background-color: #F0F2F5;
    background-image: url('../../../public/images/nature.jpg');
    background-size: cover;
}

#root {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.loginForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    border-radius: .25rem;
    height: 300px;
    width: 350px;
    background-color: white;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%)
}


.formField {
    font-size: 20px;
    margin: 10px;
    height: 30px;
    border-radius: 6px;
    border: 1px solid gray;
    border-color: #dddfe2;
    background-color: #E8F0FE;
}

.formField:focus {
    /* border-color: rgb(255, 60, 60); */
    border: 1px solid #1877f2
}

.button {
    font-size: 20px;
    color: whitesmoke;
    border: solid;
    margin: 10px;
    height: 40px;
    border-radius: 6px;
    background-color: #128fdc;
}

.button:hover {
    background-color: #1b65c5;
    color: white;
}
